@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  min-height: 100vh;
  background-size:cover;
  background-position: center;
}

.Logo{
  font-size: 2rem;
  color: black  ;
  text-decoration: none;
  font-weight: 700;
  opacity: 0;
  animation: fade-in-text 1s ease-in forwards;

}

.navbar-container{
  background-color: #d4a373;
}

.black{
  color: black !important;
}

#check {
  display: none;

}

.icons {
  position: absolute;
  font-size: 2.8rem;
  right: 5%;
  color: #000000;
  cursor: pointer;
  display: none;
  
}

/* BREAKPOINTS */

@media (max-width: 992px) {
  .header {
    padding: 1.3rem 5%;
  }
}

@media (max-width: 768px) {
  .icons {
   display: inline-flex;
  }

  #check:checked~.icons #menu-icon{
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

    #check:checked~.icons #close-icon{
      display: block;
    }



/* Landing page */
.fade-in {
  opacity: 0;
  animation: fade-in-text 1s ease-in forwards;
}

.delay-1 {
  animation-delay: 0.5s;
}

.delay-2 {
  animation-delay: 1s;
}

@keyframes fade-in-text {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  background-color: #faedcd;
  padding: 20px 0;
  text-align: center;
  
}

.landing h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

h2 span {
  color: black;
  font-family: "Bebas Neue", sans-serif;
  font-size: 150px;
}

p {
  font-size: 18px;
  color: whitesmoke;
  margin-bottom: 30px;
}

@media screen and (max-width: 500px) {
  .content {
    max-width: 90%; /* Adjust the width to fit smaller screens better */
    padding: 0 10px; 
  }

  h2 {
    font-size: 30px; 
    margin-bottom: 15px; 
  }

  p {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.Start {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}


.Start:hover {
  background-color: #0056b3;
}

.icon-button {
	background-color: white;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
}

.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}
.twitter span {
	background-color: #4099ff;
}
.facebook span {
	background-color: #3B5998;
}
.linkedin span {
	background-color: #0077b5;
}
.instagram span {
  background-color: #bc2a8d;
}
.github span {
  background-color: #333;
}


.icon-button i {
	background: none;
	color: white;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}
.icon-button .fa-twitter {
	color: #4099ff;
}
.icon-button .fa-facebook {
	color: #3B5998;
}
.icon-button .fa-linkedin {
	color: #0077b5;
}
.icon-button .fa-instagram {
	color: #4099ff;
}
.icon-button .fa-github {
	color: #333;
}
.icon-button:hover .fa-twitter,
.icon-button:hover .fa-facebook,
.icon-button:hover .fa-linkedin,
.icon-button:hover .fa-instagram,
.icon-button:hover .fa-github{
	color: white;
}

section{
  min-height: 80vh;
  background-size:cover;
}

.img-profile{
  border-radius: 20%;
  transition: background-color 0.2s ease-in;
  position: relative;
  margin-top: -100px;
}

.img-profile:hover{
  background-color: white;
}
/* Landing page */

/* ABOUT ME */
.about{
  background-color: #222b33;
}
.paragraph{
  margin: 100px;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  margin-left: 800px;
}

.aboutme h1{
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-right: 800px;
  font-size: 80px;
  border-bottom: #000000;
}

.tv{
  color: white;
}

.pogs{
  text-align: justify;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 140px;
  left: 10%;
  z-index: 0;
}

/* RESUME */

#res{
  background-color: #faedcd;
}
.resume h4{
  background-image: linear-gradient(45deg, #ff00ff, #00ff00);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 50px;
  margin: 25px;
  text-align: justify;
  margin-left: 45px;
}
.resume .fan h3{
  font-size: 40px;
  margin-right: 900px !important;
  margin-left: -110px;
  margin-bottom: 25px;
  color: white;
}
.resume h2{
  text-align: justify;
  font-size: 40px;
  border-bottom: 5px solid #000000;
  margin-right: 1000px;
  margin-left: 50px;
  color: #000000;
  font-family: "Poppins", sans-serif;
}


.resume .Resumelist{
  text-align: justify;
}

.content .t{
  text-align:justify;
  font-size: 17px;
  margin-left: 120px;
}

.pepa{
  text-align: justify;
  margin-left: 60px;
  font-size: 30px;
}

.baba{
  color:  #000000;
  text-align: justify;
  margin-left: 60px;
  font-size: 25px;
}

/* SKILL */

.card-container {
  display: flex;
  justify-content: flex-star; /* Align items to the left */
  margin-right: 900px !important; /* Remove any default margins */
  padding: 0; /* Remove any default padding */
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  height: auto;
}


.e-card {
  margin: 100px;
  background: transparent;
  box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
  position: relative;
  width: 200px;
  height: 330px;
  border-radius: 16px;
  overflow: hidden;
  margin-left: 200px;
}

.wave {
  position: absolute;
  width: 540px;
  height: 700px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -50%;
  margin-top: -70%;
  background: linear-gradient(744deg,#af40ff,#5b42f3 60%,#00ddeb);
}

.icon {
  width: 3em;
  margin-top: -1em;
  padding-bottom: 1em;
}

.infotop {
  text-align: center;
  font-size: 20px;
  position: absolute;
  top: 5.6em;
  left: 0;
  right: 0;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.name {
  font-size: 14px;
  font-weight: 100;
  position: relative;
  top: 1em;
  text-transform: lowercase;
}

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 210px;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 3000ms infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 4000ms;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 5000ms;
}

.wave:nth-child(3) {
  animation-duration: 45s;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.card-container {
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Distribute items evenly along the main axis */
  margin: 0 auto; /* Center the container horizontally */
  max-width: 800px; /* Example max-width, adjust as needed */
}

.e-card{
  /* Your card styles */
  width: calc(50% - 10px); /* Adjust width to fit two cards in a row with some space in between */
  margin-bottom: 20px; /* Example margin between cards */
}




/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.p{
  font-family: "Poppins", sans-serif;
}
.contact-row{
  background-color: #435666;
}
.info-row{
  margin-top:150px !important;
  margin-bottom:150px !important;
}
.section-title h2,
.section-title h3 {
    color: whitesmoke;
}

.contact .info-box {
  color: #444444;
  text-align: center; 
  padding: 20px 0 30px 0;
}

.contact .info-box i {
  font-size: 32px;
  border-radius: 50%;
  padding: 8px;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #000000;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  /* box-shadow: 0 0 30px rgba(214, 215, 216, 0.4); */
  padding: 30px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.input-form{
  font-weight: 700;
  border: none;
  outline: none;
  width: 100%;
  background-color: #435666!important;
  color: #fff!important;
  border-bottom: 1px solid #fff!important;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 20px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #658199;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.buttom-submit{
  transition: background-color 0.2s ease, color 0.2s ease;
}
.buttom-submit:hover{
  background-color:white !important;
  color: #658199 !important;

}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}